/* Common classes */
.ctx_top_bg{
	background-color: #000000;
    padding: 5px 30px;
}
.ctx_top_bg ul {
    background-color: #000000;
    float: right;
    font-size: 13px;
    font-family: "citrixsans-light",Arial,Helvetica;
}
.menu.ctx_menu1 > li > a {
    display: block;
    padding: 5px!important;
    line-height: 1;
    background-color: #000000!important;
    color: #ffffff;
}
.ctx_top_bg1{
	background-color: #ffffff;
    padding: 20px 30px;
    
}
.menu > li > a {
    display: block;
    padding: 15px!important;
    line-height: 1;
    background-color: #000000;
    color: #ffffff;
}
/* Common classes end */

.next_page{
    text-align: right;
    background-color: #F3F2F0;
    padding: 8px;
    font-family: "citrixsans-regular",Arial,Helvetica;
}
.formData{
    padding: 15px 50px;
}
label{
    font-family: "citrixsans-regular",Arial,Helvetica;
    font-size: 15px;
}
select {
    font-size: 14px;
    font-family: "citrixsans-light",Arial,Helvetica;
    line-height: 18px;
    background: #F4F4F4 url("../img/arrow_sm.png") no-repeat scroll 98% center;
}
.view_btn {
    background: #0090DA;
    padding: 12px 20px;
    color: #ffffff!important;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
}
.view_btn:hover {
    background: #0077C1;
    padding: 12px 20px;
    color: #ffffff !important;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
}
.go_back {
    background: #E7E5E2;
    padding: 12px 20px;
    color: #000000!important;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
}
.breadcrumb-arrow {
    height: 40px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #E7E5E2;
    font-family: "citrixsans-regular",Arial,Helvetica;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 0px 0 0 0px;
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 40px;
    padding: 0px 50px 0px 50px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}
.breadcrumb-arrow li a {
    position: relative;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #E7E5E2;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 50px;
    padding-right: 50px;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #13618D;
    border: 1px solid #13618D;
    color: #ffffff;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before  {
    border-left-color: #13618D;
    color: #ffffff;
}
.breadcrumb-arrow li a.active {
    background-color: #13618D!important;
    border: 1px solid #13618D!important;
    border-left: 0px solid #ffffff!important;
    color: #ffffff;
    content: '';
}
.breadcrumb-arrow li a.active:before, .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a:focus:before {
    right: -10px;
    z-index: 3;
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 10px;
}
.breadcrumb-arrow li a.active:after, .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a:focus:after {
    right: -10px;
    z-index: 2;
    border-left: 10px solid #13618D;
    content: '';
    height: 38px;
}

/* Footer */
.callout.secondary {
    background-color: #000;
    color: #ffffff;
    font-family: "citrixsans-regular",Arial,Helvetica;
    font-size: 14px;
}
.callout {
    margin: 0px 0px 0px;
}
/* Footer end */
@media(min-width: 1024px) and (max-width: 1200px){
    .breadcrumb-arrow li:first-child a {
        padding-left: 35px;
        padding-right: 35px;
    }
    .breadcrumb-arrow li a{
        padding: 0px 35px;

    }
    .breadcrumb-arrow {
        padding-left: 15px;
        margin: 0px auto;
        position: absolute;
        left: 9.5%;
    }
}
@media(min-width: 1201px) and (max-width: 1320px){
    .breadcrumb-arrow li:first-child a {
        padding-left: 55px!important;
        padding-right: 55px!important;
    }
    .breadcrumb-arrow li a{
        padding: 0px 55px!important;
    }
    .breadcrumb-arrow {
        padding-left: 0px;
        margin: 0px auto;
        position: absolute;
        left: 10.5%;
    }
}
@media(min-width: 1201px) and (max-width: 1420px){
    .breadcrumb-arrow li:first-child a {
        padding-left: 60px;
        padding-right: 60px;
    }
    .breadcrumb-arrow li a{
        padding: 0px 60px;
    }
    .breadcrumb-arrow {
        padding-left: 0px;
        margin: 0px auto;
        position: absolute;
        left: 10.5%;
    }
}
@media(min-width: 1421px) and (max-width: 1520px){
    .breadcrumb-arrow li:first-child a {
        padding-left: 63px;
        padding-right: 63px;
    }
    .breadcrumb-arrow li a{
        padding: 0px 63px;
    }
    .breadcrumb-arrow {
        padding-left: 0px;
        margin: 0px auto;
        position: absolute;
        left: 11%;
    }
}
@media(min-width: 1521px) and (max-width: 1620px){
    .breadcrumb-arrow li:first-child a {
        padding-left: 63px;
        padding-right: 63px;
    }
    .breadcrumb-arrow li a{
        padding: 0px 63px;
    }
    .breadcrumb-arrow {
        padding-left: 0px;
        margin: 0px auto;
        position: absolute;
        left: 14%;
    }
}
@media(min-width: 1621px) and (max-width: 1920px){
    .breadcrumb-arrow li:first-child a {
        padding-left: 65px;
        padding-right: 65px;
    }
    .breadcrumb-arrow li a{
        padding: 0px 65px;
    }
    .breadcrumb-arrow {
        padding-left: 0px;
        margin: 0px auto;
        position: absolute;
        left: 20%;
    }
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left!important;
}
.error,.mandField{
    color:#ec5840;
}
.formData h4{
    font-size:1.2625rem!important;
}