
table {
    background: white;
    margin-bottom: 1.25rem;
    border: solid 1px #dddddd;
    table-layout: auto;
}
table caption {
    background: transparent;
    color: #222222;
    font-size: 1rem;
    font-weight: bold;
}
table thead {
    background: whitesmoke;
}
table thead tr th, table thead tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #222222;
}
table tfoot {
    background: whitesmoke;
}
table tfoot tr th, table tfoot tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #222222;
}
table tr th, table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222;
    text-align: left;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9;
}
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
    display: table-cell;
    line-height: 1.125rem;
}

table.dataTable thead .sorting {
    background: transparent url("../img/sort_both.png") no-repeat scroll right center;
}
table.dataTable thead .sorting_desc {
    background: transparent url("../img/sort_desc.png") no-repeat scroll right center;
}

ul.pagination li{
    border: 1px solid #ddd;
    font-family: "citrixsans-regular",Arial,Helvetica;
}

.pagination .current {
    padding: 0;
    background: #ddd;
    color: #FEFEFE;
    cursor: default;
    font-family: "citrixsans-regular",Arial,Helvetica;
}
table tr th, table tr td{
    font-family: "citrixsans-regular",Arial,Helvetica;
}
thead tr{
    border-bottom: 2px solid #999999;
}
tbody tr{
    border-top: 1px solid #999999;
}
.pending{
    color: #FF861B;
    line-height: 21px;
}
.declined{
    color: #FF1D00;
    line-height: 21px;
}
.approve{
    color: #008021;
    line-height: 21px;
}
.test_kit_name{
    color: #0077C1;
}
.badge {
    background: #0B9F02 none repeat scroll 0% 0%;
    color: #FFF;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 1000px;
    position: absolute;
    margin-left: -10px;
    margin-top: -8px;
    border-radius: 50%;
    width: 20px !important;
    height: 18px;
    font-size: 10px;
    font-family: "citrixsans-regular",Arial,Helvetica;
}
.fa-envelope-o{
    font-size: 18px!important;
    font-family: "citrixsans-regular",Arial,Helvetica;
}
.mail_box_badge{
    color: #0B9F02;
}